<div class=''>
    <h4><%= _("Merge with article") %></h4>
    <p class='help-block'>Specify the id of the page to be merged with</p>
    <ul id='attachments' class='inputs-list'>
      <%= render 'admin/content/attachment', { :attachment_num => 1, :hidden => false } -%>
    </ul>
</div>    
